<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<!-- The following style was inspired by Google Style Guide -->
<!-- https://google.github.io/styleguide/javaguide.html -->
<!-- https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/google_checks.xml -->
<module name = "Checker">
    <property name="charset" value="UTF-8"/>

    <property name="severity" value="warning"/>

    <!--  Here are some standards that our code should adhere to. You can add more or check out the existing ones
    here: https://checkstyle.sourceforge.io/checks.html  -->

    <module name="TreeWalker">

        <!--  Checks for unused import statements.-->
        <!--  https://checkstyle.sourceforge.io/config_imports.html#UnusedImports  -->
        <module name="UnusedImports" />

        <!--  Checks for long anonymous inner classes.-->
        <!--  https://checkstyle.sourceforge.io/config_sizes.html#AnonInnerLength  -->
        <module name="AnonInnerLength">
            <property name="max" value="60"/> <!--Specify the maximum number of lines allowed. -->
        </module>

        <!--  Detects double brace initialization.  -->
        <!--  https://checkstyle.sourceforge.io/config_coding.html#AvoidDoubleBraceInitialization  -->
        <module name="AvoidDoubleBraceInitialization"/>

        <!--  Checks for empty blocks. This check does not validate sequential blocks.  -->
        <!--  https://checkstyle.sourceforge.io/config_blocks.html#EmptyBlock  -->
        <module name="EmptyBlock"/>

        <!--  Checks for empty catch blocks. By default, check allows empty catch block with any comment inside.  -->
        <!--  https://checkstyle.sourceforge.io/config_blocks.html#EmptyCatchBlock  -->
        <module name="EmptyCatchBlock"/>

        <!--  Checks the padding of an empty for initializer; that is whether a white space is required
          at an empty for initializer, or such white space is forbidden. No check occurs if there is
          a line wrap at the initializer, as in
          for (
                ; i < j; i++, j-)
        -->
        <!--  https://checkstyle.sourceforge.io/config_whitespace.html#EmptyForInitializerPad  -->
        <module name="EmptyForInitializerPad"/>

        <!--  Checks for empty line separators before package, all import declarations, fields, constructors, methods,
        nested classes, static initializers and instance initializers.  -->
        <!--  https://checkstyle.sourceforge.io/config_whitespace.html#EmptyLineSeparator  -->
        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
        </module>

        <!--  Detects empty statements (standalone ";" semicolon). Empty statements often introduce bugs that are
        hard to spot  -->
        <!--  https://checkstyle.sourceforge.io/config_coding.html#EmptyStatement  -->
        <module name="EmptyStatement"/>

        <!--  Checks correct indentation of Java code.  -->
        <!--  https://checkstyle.sourceforge.io/config_misc.html#Indentation  -->
        <module name="Indentation"/>

        <!--  Checks for the placement of left curly braces ('{') for code blocks.  -->
        <!--  https://checkstyle.sourceforge.io/config_blocks.html#LeftCurly  -->
        <module name="LeftCurly"/>

        <!--  Checks for the placement of right curly braces ('}') for code blocks.  -->
        <!--  https://checkstyle.sourceforge.io/config_blocks.html#RightCurly  -->
        <module name="RightCurly">
            <property name="option" value="alone"/>
            <property name="tokens" value="LITERAL_ELSE, METHOD_DEF"/>
        </module>

        <!--  Checks for long methods and constructors. max lines 150  -->
        <!--  https://checkstyle.sourceforge.io/config_sizes.html#MethodLength  -->
        <module name="MethodLength">
            <property name="tokens" value="METHOD_DEF"/>
            <property name="max" value="150"/>
        </module>

        <!--  Checks for braces around code blocks.  -->
        <!--  https://checkstyle.sourceforge.io/config_blocks.html#NeedBraces  -->
        <module name="NeedBraces">
            <property name="allowSingleLineStatement" value="true"/>
            <property name="tokens" value="LITERAL_IF, LITERAL_WHILE, LITERAL_DO, LITERAL_FOR"/>
        </module>

        <!--  Checks that chosen statements are not line-wrapped. By default, this Check restricts wrapping
        import and package statements, but it's possible to check any statement.  -->
        <!--  https://checkstyle.sourceforge.io/config_whitespace.html#NoLineWrap  -->
        <module name="NoLineWrap"/>

        <!-- Checks that a token is followed by whitespace, with the exception that it does not check for whitespace
        after the semicolon of an empty for iterator. -->
        <!-- https://checkstyle.sourceforge.io/config_whitespace.html#WhitespaceAfter -->
        <module name="WhitespaceAfter">
            <property name="tokens" value="COMMA, SEMI"/> <!-- Characters after , or ; must be separated with whitespace -->
        </module>

        <!--  Checks for over-complicated boolean return statements.   -->
        <!--  https://checkstyle.sourceforge.io/config_coding.html#SimplifyBooleanReturn  -->
        <module name="SimplifyBooleanReturn"/>

        <!--  Checks that there is only one statement per line.  -->
        <!-- https://checkstyle.sourceforge.io/config_coding.html#OneStatementPerLine -->
        <module name="OneStatementPerLine"/>

    </module>

    <!--  Checks for long lines. (120 char)  -->
    <!--  https://checkstyle.sourceforge.io/config_sizes.html#LineLength  -->
    <module name="LineLength">
        <property name="max" value="150"/>
        <property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://|ftp://"/>
    </module>

</module>
